/*
 * @title       CATCHA
 *
 * @date        2021
 *
 * @artist      Cadie Desbiens-Desmeules <contact@push1stop.com>
 *              https://desbiens-desmeules.com
 *
 *              Hicetnunc: https://www.hicetnunc.xyz/tz/tz1Q5kA2FxYJAVV8DXrTcmFwqejc1T5iTfqb
 *              Tezos Public Key: tz1Q5kA2FxYJAVV8DXrTcmFwqejc1T5iTfqb
 *
 * @author      Code written by Michael Gary Dean <contact@michaeldean.ca>
 *              https://michaelgarydean.com
 *              github.com/michaelgarydean
 * 
 * @description False "catcha" created for Cadie Desbiens-Desmeules <contact@push1stop.com>
 *              for her artworks based on privacy and personal data. Cars or Cats?
 */

  /* GLOBAL VARIABLES */

  $catcha_width: 394px;
  $catcha_height: 572px;

  $outer_border_grey: #CECECE;
  $inner_border_grey: #DFDFDF;

  $catcha_background_color: #F9F9F9;

  $blue_color: #4A90E2;
  $copy_color: #FFFFFF;
  $submit_button_color: rgb(165, 196, 235);

  $image_size: 93px;
  $grid_gap: 2px;
  $icon_size: 27px;

  $image-resizing-speed: 0.15s;
  $image-size-on-click: 79%;

  $inner_elements_padding: 7px;

  $grid_row_columns: 4;


/* 
 * FONT FACES
 */


 @font-face {  
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Use system font, then swap for loaded font when loaded */
  src:  local('Roboto'),
        local('Roboto-Regular'),
        url('https://fonts.googleapis.com/css2?family=Roboto:wght@400'),
        url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    unicode-range: U+000-5FF; /* Download only latin glyphs */
 }

  @font-face {  
  font-family: 'Roboto';
  font-weight: 600;
  font-style: normal;
  font-display: swap; /* Use system font, then swap for loaded font when loaded */
  src:  
        local('Roboto-Medium'),
        url('https://fonts.googleapis.com/css2?family=Roboto:wght@500'),
        url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.woff') format('woff');
    unicode-range: U+000-5FF; /* Download only latin glyphs */
 }

  @font-face {  
  font-family: 'Roboto';
  font-weight: 800;
  font-style: normal;
  font-display: swap; /* Use system font, then swap for loaded font when loaded */
  src:  
        local('Roboto-Bold'),

        url('https://fonts.googleapis.com/css2?family=Roboto:wght@700'),
        url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff');
    unicode-range: U+000-5FF; /* Download only latin glyphs */
 }

  @font-face {  
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  font-display: swap; /* Use system font, then swap for loaded font when loaded */
  src:  
        local('Roboto-Black'),
        url('https://fonts.googleapis.com/css2?family=Roboto:wght@900'),
        url('Roboto-Black.woff2') format('woff2'),
        url('Roboto-Black.woff') format('woff');
    unicode-range: U+000-5FF; /* Download only latin glyphs */
 }
 
  /* HICETNUNC */
 html,
 body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
  background: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
/* 
 * CATCHA STYLING
 */
 .catcha-placement {
  position: absolute;
  width: $catcha_width;
  height: $catcha_height;

}  

.centered-container {
  @extend .catcha-placement;

  background-color: $catcha_background_color;

  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.image-placeholder {
  //display: none;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 406px;
  height: 582px;

  //background: url('placeholder-image.png') no-repeat;
  background-size: 100% 100%;
  margin-top: 2px;
  margin-left: 1px;
  opacity: 25%;
}

/* Borders */
.catcha-outer-border {
  @extend .catcha-placement;

  box-sizing: border-box;

  border-color: $outer_border_grey;
  border-style: solid;
  border-width: 1px;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
}



.catcha-interior-elements-container {
}

/* 
 * CATCHA top elemments
 */
.catcha-top-elements-container {
  padding: $inner_elements_padding;
  border-bottom: solid;
  border-width: 1px;
  border-color: $inner_border_grey;
}

.catcha-header {
  padding: 24px 24px;

  text-align: left;
  font-size: 14px;
  color: $copy_color;

  background-color: $blue_color;

  p {
    margin: 0;
  }

  h2 {
    margin: 0;

    font-size: 28px;
    font-weight: 900;
  }

}

/* Image grid */

.catcha-images {

  display: grid;
  grid-gap: $grid_gap;
  grid-template-columns: repeat($grid_row_columns, 1fr);

  margin-top: 4px;

  .catcha-single-image {

    width: $image_size;
    height: $image_size;

    text-align: center; 

    /* https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div */
    .catcha-image-size-aligner {
      display: inline-block;
      vertical-align: middle;
      height: 100%;

    }

    img {
      vertical-align: middle;
      height: $image_size;
    } 
  }

}

/* 
 * Animations for when the image has been click or not 
 */
.catcha-image-animation {
  animation-duration: $image-resizing-speed;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

}

/* when the image has not been clicked */
.catcha-image {

  @extend .catcha-image-animation;
  animation-name: fade-in-and-grow;

}

@keyframes fade-in-and-grow {
  from {
    width: $image-size-on-click;
    height: $image-size-on-click;
  }
  to {
    width: 100%;
    height: 100%;
  }
}

/* when the image has  been clicked */
.catcha-image.image-is-clicked {
  @extend .catcha-image-animation;
  animation-name: fade-out-and-shrink;
}

@keyframes fade-out-and-shrink {
  from {
    width: 100%;
    height: 100%;
  }
  to {
    width: $image-size-on-click;
    height: $image-size-on-click;
  }
}

.hide-image-before-load {
  position: absolute;
  height: $image_size;
  width: $image_size;
  background-color: $catcha_background_color;

}


/* 
 * CATCHA footer
 */
.catcha-footer {
  padding: $inner_elements_padding;
  padding-top: 0px;
}

/* 
 * Icons
 */
.checkmark {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  //background: url('../static/checkmark.png') no-repeat;
  background-repeat: no-repeat;
  background-size: 30px;

}

.checkmark.image-is-clicked {
  display: block;
}

.catcha-icons {
  float: left;
  opacity: 0.55;

  .icon {
    display: inline-block;
    margin: 14px 8px;
    width: $icon_size;
    height: $icon_size;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

/* button */
.button-container {
  float: right;
}

.verify-button {

  padding: 13px 25px;
  margin: 9px 1px;

  font-size: 13px;
  font-weight: 600;

  background-color:  $blue_color;

  border: none;
  border-radius: 2px;

  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button-on-submit {

  background-color:  $submit_button_color;

}
